.bigImage {
  height: 100vh;
  width: 100vw;
  position: relative;
  bottom: 0;
  top: 0;
  background-image: url('../images/pexels-pixabay-164595.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2rem;
}

.overlap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: brown;
  opacity: 0.85;
  z-index: 0.5;
}

.txtWrapper {
  color: #fff;
  z-index: 10;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.resBtn {
  background-color: rgb(68, 21, 21);
  border: none;
  padding: 10px 15px;
  color: #fff;
  border-radius: 25px;
  margin-top: 2.2rem;
  transition: 350ms;
}

.resBtn:hover {
  background-color: rgb(60, 8, 8);
  opacity: 0.95;
  transform: scale(0.97);
}

.error-message-white {
  color: #fff;
}

.form-radius {
  border-radius: 25px;
  padding: auto 15px;
}

@media (min-width: 768px) {
  .txtWrapper {
    width: 50%;
  }
}
