.form-container {
  height: 130vh;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.527),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://images.unsplash.com/photo-1574643156929-51fa098b0394?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.my_container {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: 300ms ease-in;
}

form {
  box-shadow: 17px 18px 17px 0 rgba(26, 25, 25, 0.8);
  -webkit-box-shadow: 17px 18px 17px 0 rgba(26, 25, 25, 0.8);
  -moz-box-shadow: 17px 18px 17px 0 rgba(26, 25, 25, 0.8);
  border-radius: 10px;
}

@media only screen and (min-width: 768px) {
  .form-container {
    height: 100vh;
  }

  .my_container {
    width: 70%;
    margin: 0 auto;
  }
}
