.form-container {
  height: 150vh;
  background-image:
    linear-gradient(
      rgb(152, 192, 42) 0.1%,
      rgba(0, 0, 0, 0.1)
    ),
    url(https://images.unsplash.com/photo-1574643156929-51fa098b0394?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.my_container {
  width: 90%;
  margin: 0 auto;
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: 300ms ease-in;
}

.form {
  box-shadow: 17px 18px 17px 0 rgba(151, 191, 15, 0.8);
  -webkit-box-shadow: 17px 18px 17px 0 rgba(26, 25, 25, 0.2);
  -moz-box-shadow: 17px 18px 17px 0 rgba(26, 25, 25, 0.8);
  border-radius: 10px;
}

.room-btn {
  border-radius: 25px;
  background-color: #97bf0f;
  outline: none;
  transition: 350ms;
}

.room-btn:hover {
  background-color: #97bf0f;
  opacity: 0.95;
  transform: scale(0.97);
}

@media only screen and (min-width: 768px) {
  .form-container {
    height: 100vh;
  }

  .my_container {
    width: 55%;
    margin: 0 auto;
    left: 65%;
  }
}

@media only screen and (min-width: 1024px) {
  .my_container {
    width: 65%;
    margin: 0 auto;
    left: 60%;
  }
}
