.upperCase {
  text-transform: uppercase;
}

.contain {
  height: 100vh;
  width: 100%;
}

.room-image {
  width: 100%;
  height: auto;
  box-shadow: 0 1px 8px rgb(224, 224, 224);
  border-radius: 5px;
}

.displayRoom {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  column-gap: 2rem;
  background-color: #fff;
}

.display-two {
  width: 100%;
  align-self: center;
}

.display-three {
  width: 100%;
  text-align: center;
}

.displayColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.marginFive {
  margin-top: 5rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-bottom: 3rem;
  margin: 1rem;
  row-gap: 3rem;
}

.buttonConfig {
  background-color: blue;
  border: none;
  padding: 10px 12px;
  color: #f1f1f1;
  border-radius: 25px;
  box-shadow: 0 1px 8px rgb(224, 224, 224);
}

.buttonConfig:hover {
  background-color: rgb(14, 14, 202);
  color: #fff;
  text-decoration: none;
}

.items {
  font-size: 20px;
  font-weight: 500;
}

.badg-odd {
  background-color: rgb(199, 199, 199);
  padding: 0.8rem 0;
}

.badg-even {
  background-color: rgb(230, 230, 230);
  padding: 0.8rem 0;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2em;
}

@media only screen and (min-width: 768px) {
  .vis {
    display: none;
  }

  .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
  }

  .buttons {
    justify-content: space-around;
  }

  .leftMargin {
    margin-left: 250px;
  }
}

@media only screen and (min-width: 1200px) {
  .marginFive {
    margin-top: 6rem;
  }

  .details {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
  }

  .buttons {
    justify-content: space-around;
  }

  .display-two {
    width: 65%;
  }

  .display-three {
    width: 35%;
  }
}
