/* stylelint-disable -- Stylint doesn't recognise tailwind rules */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.room-item {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  gap: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.room-item h2 {
  font-size: 13px;
}

.room-image {
  width: 100%;
  margin-bottom: 1rem;
}

.rooms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.home {
  display: flex;
  height: 100vh;
  width: 100%;
}

.nav {
  width: 25%;
  background-color: brown;
  height: 1000vh;
  display: none;
}

.error {
  border: 2px solid #FF6565;
}

.error-message {
  color: #FF6565;
  padding: 0.5em 0.2em 1em 0.2em;
  height: 1em;
  font-size: 0.8em;
}

@media only screen and (min-width: 768px) {
  .nav {
    display: inline-block;
  }

  .vis {
    display: none;
  }
}
