@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Squada+One&display=swap');

* {
  text-decoration: none;
  list-style: none;
}

html {
  height: 100vh;
}
/* stylelint-disable -- Stylint doesn't recognise tailwind rules */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.room-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  gap: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 1px 8px rgb(224, 224, 224);
  border-radius: 5px;
}

.room-item h2 {
  font-size: 13px;
}

.room-image {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.home {
  position: relative;
  display: flex;
}

.main {
  width: 100%;
}

.main h1 {
  font-family: 'Barlow', sans-serif;
  color: #253439;
  margin-top: 5rem;
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
}

.main h2 {
  font-family: 'Barlow', sans-serif;
  color: #253439;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.rooms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.nav {
  position: fixed;
  height: 100%;
  background-color: #253439;
  display: none;
}

.nav-link {
  margin: 0.5rem 0;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.error {
  border: 2px solid #ff6565;
}

.error-message {
  color: #ff6565;
  padding: 0.5em 0.2em 1em 0.2em;
  height: 1em;
  font-size: 0.8em;
}

@media only screen and (min-width: 768px) {
  .nav {
    display: flex;
    width: 250px;
    flex-direction: column;
    gap: 1.5rem;
  }

  .lunar-logo {
    width: 100%;
  }

  .vis {
    display: none;
  }

  .main {
    margin-left: 250px;
  }
}
